.revanth{
    text-align: center;
}
.heading{
    color: rgb(255, 32, 32);
    background-color: rgb(161, 255, 224);
}
.geetha1{
    color: orangered;
}
.geetha2{
    color: rgb(255, 255, 255);
}
.geetha3{
    color: rgb(100, 237, 127);
}
.geetha4{
    color: red;
}
.angle{
    text-align: middle;
}
.rang{
    background-color: rgb(0, 0, 0);
}
.bomma{
    border-radius: 50%;
}
.youtube{
    color: violet;
}
.rang2{
    color: azure;
    list-style-type: square;
    list-style-position: outside ;
    margin: auto;
}
.rangt{
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}
.rangtt{
    color: rgb(17, 255, 0);
    border-color: darkgreen;
}
.rangttt{
    color: rgb(255, 255, 255);
}
.ranga{
    color: rgb(17, 255, 0);
}
table, th, td {
    border: 1px solid;
    border-radius: 10px;
}
ul {
    color: aquamarine;
}
ol{
    color: aquamarine;
}
table{
    margin: auto;
}